<table class="table table-striped table-hover" at-grid="$ctrl.myGrid" at-grid-data="$ctrl.data"
       at-grid-multi-selection="$ctrl.multiSelection">
  <!--
       at-grid-auto-search="true"
       at-grid-pager-range="2"
       at-grid-auto-search="true"
       at-grid-additional-parameters="{a: 1}"
       at-grid-url="api/asdf"
       at-grid-data-provider="$ctrl.getPage(state, additionalParams)"
  -->
  <tr>
    <th at-grid-sort="a">a</th>
    <th at-grid-sort="b">b</th>
    <th at-grid-sort="c">c</th>
    <th at-grid-sort="d">d</th>
  </tr>
  <tr ng-repeat="item in $ctrl.myGrid.items"
      ng-click="$ctrl.myGrid.toggleItemSelection(item)"
      ng-class="{'success': $ctrl.myGrid.isItemSelected(item)}">
    <td>{{ item.a }}</td>
    <td>{{ item.b }}</td>
    <td>{{ item.c }}</td>
    <td>{{ item.d }}</td>
  </tr>
</table>

<label>
  <input type="checkbox" ng-model="$ctrl.multiSelection"> Multi selection
</label><br/>

Selected item: {{ $ctrl.myGrid.selectedItem }}<br/>
Selected items: {{ $ctrl.myGrid.selectedItems }}<br/>
AllSelection: {{ $ctrl.myGrid.isItemSelected() }}<br/>
Page: {{ $ctrl.myGrid.page }}<br/>
TotalPages: {{ $ctrl.myGrid.totalPages }}<br/>
Start: {{ $ctrl.myGrid.pageStart }}<br/>
End: {{ $ctrl.myGrid.pageEnd }}<br/>
TotalElements: {{ $ctrl.myGrid.totalElements }}<br/>
Size:
<select ng-model="$ctrl.myGrid.size" ng-options="size for size in $ctrl.myGrid.pageSizes"></select><br/>

Pager:



<div class="btn-group">
  <button class="btn btn-default" ng-disabled="!$ctrl.myGrid.isPrevEnabled" ng-click="$ctrl.myGrid.first()">
    <span class="glyphicon glyphicon-step-backward"></span>
  </button>
  <button class="btn btn-default" ng-disabled="!$ctrl.myGrid.isPrevEnabled" ng-click="$ctrl.myGrid.prev()">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </button>
  <button ng-repeat="page in $ctrl.myGrid.pager"
          ng-click="page.jump()"
          ng-class="{'btn-primary': page.active}"
          class="btn btn-default">
    {{ page.number }}
  </button>
  <button class="btn btn-default" ng-disabled="!$ctrl.myGrid.isNextEnabled" ng-click="$ctrl.myGrid.next()">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  <button class="btn btn-default" ng-disabled="!$ctrl.myGrid.isNextEnabled" ng-click="$ctrl.myGrid.last()">
    <span class="glyphicon glyphicon-step-forward"></span>
  </button>
</div>

<br/>
<button class="btn btn-default" ng-click="$ctrl.myGrid.toggleItemSelection()">Toggle all selection</button>
<button class="btn btn-default" ng-click="$ctrl.myGrid.search(true)">Search</button>
